/*********************************************************************************/
/************************************* LAYOUT ************************************/
/*********************************************************************************/

div.menuBarBorderLayout
{
	border-style:groove;
	border-color:#C0C0C0;
	height:6%;
}	 /*Style for the tabs of the toolbar*/
#list-tabs{
	height:20px;
}
.tab{
	height:20px;
}
.ui-tabs .ui-tabs-nav li a{
	padding: 0em 1em;
}
/*Making the bar of Size narrower*/
#spinner {
width: 40px;
}

/*Style for the buttons of the toolbar*/
label{
	border-width:thick;
	-moz-border-radius:3px; /* Firefox */ 
	-webkit-border-radius:3px; /* Safari y Chrome */ 
	background-color:lightgray;
	height: 40px;
	width: 40px;
}
.ui-tabs .ui-tabs-panel {
    padding: 0.4em 1.5em;
}
#bold-button{
	font: 900 20px arial,sans-serif;
    margin: 0;
    padding: 0;
}
#italic-button{
	font: 100 italic 20px arial,sans-serif;
    margin: 0;
    padding: 0;
}
#underline-button{
	font: 100 20px arial,sans-serif;
    margin: 0;
    padding: 0;
    text-decoration:underline;
}

#cross-button{
	font: 100 20px arial,sans-serif;
    margin: 0;
    padding: 0;
    text-decoration:line-through;
}
.ui-button-text-only .ui-button-text {
    padding: 0.3em 0em;
}