html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


* { margin: 0; padding: 0; }

body {
  font: 36px/1.5 'Helvetica Neue', Arial, sans-serif;

  min-height: 740px;
  text-shadow: -1px -1px 2px rgba(0, 67, 148,0.5);

  color: #000;
  background: #002570;
  background: -webkit-radial-gradient(left bottom, circle farthest-corner, rgb(0, 67, 148), rgb(255,255,255), rgb(255,255,255));
  background:    -moz-radial-gradient(left bottom, circle farthest-corner, rgb(0, 67, 148), rgb(240,240,240), rgb(255,255,255));
  background:      -o-radial-gradient(left bottom, circle farthest-corner, rgb(0, 67, 148), rgb(255,255,255), rgb(255,255,255));
  background:         radial-gradient(left bottom, circle farthest-corner, rgb(0, 67, 148), rgb(240,240,240), rgb(255,255,255));

  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 { font-size: 1.75em; text-align: center; margin: 0.3em 0; }

h3 { margin-bottom: 0.5em; font-weight: bold; font-size: 1.5em;}

h3.center { text-align: center; }
h4 { color: #ddd; font-size: 36px; }

img { opacity: 0.9; }

ul { list-style-position: outside; opacity: 0.9; margin: 0.3em 0 0.6em; list-style-type:square; }
ol { list-style-position: outside; opacity: 0.9; margin: 0.3em 0 0.6em; list-style-type:decimal; }

.twocol ul { list-style-type:square; list-style-position: inside}
.twocol ol { list-style-type:decimal; list-style-position: inside}
.twocol {list-style-position: inside}

li ul { font-size: 0.8em; margin: 0; margin-left: 1em; list-style-type: circle;}

sup {
  font-size:smaller;
  vertical-align:super;
}

sub {
  font-size:smaller;
  vertical-align:sub;
}


p, li { font-size: 0.9em; margin: 0.5em 0; }

li.empty { list-style: none; }

div.smaller p, div.smaller li { font-size: 0.7em; margin: 0.5em 0;}


p.ref { font-size: 0.6em; border-top: #002570 solid 1px; padding-top:5px; margin-top:10px}

.small { font-size: 0.7em }
.smaller { font-size: 0.5em; }

div.smaller p.small { font-size: 0.6em; }
pre { font-size: 0.6em; margin: 0.3em 0; }
body pre code {
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  padding-right:0.2em;
  font-family: "Courier";
}
code { font-family: "Courier"; }
code b { color: #fff; text-shadow: 0 0 0.2em #aaa}
code b:hover {text-shadow: 0 0 1em #fff, 0 0 4em #fff, 0 0 8em #fff  }
code b:hover + b {text-shadow: 0 0 1em #fff, 0 0 4em #fff, 0 0 8em #fff  }

b { color: rgb(0, 67, 148); font-weight: bold }

pre.request code {
	background-image: url("request.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
}


pre.response code {
	background-image: url("response.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
}

mark {
  padding: 0 0.3em;
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


a {
  color: #1296f3;
  text-decoration: none;
  padding: 0 0.3em;
}

a:link {
  opacity: 0.8;

  -webkit-transition: 0.3s;
  -moz-transition:    0.3s;
  -ms-transition:     0.3s;
  -o-transition:      0.3s;
  transition:         0.3s;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

q { quotes: none; font-style: italic; }

p.p-a { margin-left: -0.3em; }

div.final p { font-size: 1.1em; margin: 0; }
div.final p img { width: 2em; vertical-align: middle; }
div.final p.p-a { margin-left: -0.6em; }
div.final p.twitter { margin-top:1em; margin-bottom:0.5em; }
div.final p.deferred { margin-top: 0.5em; font-size: 1.2em; text-align: center; }

a:link:hover {
  background: rgba(255,255,255, 0.2);
}

h1 { text-align: center; }
p.footer { font-size: 0.7em; text-align: right; margin-top: 4em; }


.twocol { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
.threecol { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }


.note { font-size: 0.5em; float: right; width: 30%; background-color: #DAD085; margin:10px; padding:10px}

.colbreak {
    -webkit-column-break-before:always;
    -moz-column-break-before:always;
    column-break-before:always;
}

.step {
    position: relative;
    width: 1024px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Arial', sans-serif;
    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.
    
    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.66;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }


/* STEP SPECIFIC STYLES */

/* hint on the first slide */

/*
.hint {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;

  background: rgba(0,0,0,0.5);
  color: #EEE;
  text-align: center;

  font-size: 50px;
  padding: 20px;

  z-index: 100;

  opacity: 0;

  -webkit-transform: translateY(400px);
  -moz-transform:    translateY(400px);
  -ms-transform:     translateY(400px);
  -o-transform:      translateY(400px);
  transform:         translateY(400px);

  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
  transition:         opacity 1s,         transform 0.5s 1s;
}

.step-1 + .hint {
  opacity: 1;

  -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
  -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
  -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
  -o-transition:      opacity 1s 5s,      -o-transform 0.5s;
  transition:         opacity 1s 5s,         transform 0.5s;

  -webkit-transform: translateY(0px);
  -moz-transform:    translateY(0px);
  -ms-transform:     translateY(0px);
  -o-transform:      translateY(0px);
  transform:         translateY(0px);
}
*/

.hint {

    display: none;
    
    position: relative;
    right: 50%;
    width: 800px;
    
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    
    font-size: 50px;
    padding: 20px;
    
    z-index: 100;

    opacity: 0;
}

.impress-enabled .hint { 
  display: block;
  opacity: 1;
 }

.hint:hover {
  opacity:0; 
  filter:alpha(opacity=0);
}

/* overview step */

#overview {
  z-index: -1;
  padding: 0;
  /* background: rgba(255, 255, 255, 0.5); */
  height: 10px;
}

/* on overview step everything is visible */

body.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}


/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  font-size: 0.7em;

  width: 780px;
  padding: 10px 20px;
  margin: 20px auto;

  display: none;
  border-radius: 10px;
  background: #0f3584
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-not-supported {
  background: #002570;
  overflow: hidden;
  padding: 0 50px;
}
.impress-not-supported .step {
  position: relative;
  opacity: 1;
  min-height: 700px;
  margin: 200px auto;
  background: #0f3584;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}


.impress-not-supported .step > * {
  width: 820px;
}

.impress-not-supported .fallback-message {
  display: block;
}

.fallback-message.hidden {
  display: none !important;
}


.impress-not-supported #overview {
  display: none;
}

.step div.counter {
  position: absolute;
  top: -2em;
  right: 1em;
  font-size: 16px;
  opacity: 0.3;
  width: auto;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
div#timer {
  position: fixed;
  right: 1em;
  bottom: 1em;
  opacity: 0.5;
}

#thank-you p.email {
  margin-left: -0.3em;
}
#thank-you p.name {
  font-size: 1.4em;
}

/* #impress:not(.step-overview) .substep:not(.active):not(.previous) { */
/*   opacity: 0; */
/* } */

/* .impress-not-supported#impress:not(.step-overview) .substep:not(.active):not(.previous) { */
/*   opacity: 1; */
/* } */


.substep {
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

body {
  -webkit-transition: background 1s;
  -moz-transition:    background 1s;
  -ms-transition:     background 1s;
  -o-transition:      background 1s;
  transition:         background 1s;
}

.substep {
  opacity: 0;
}

.substep.active {
  opacity: 1;
}


svg .substep.previous {
  opacity: 1; 
}

.substep.previous {
  opacity: 0.75;
}

div.abs-box {
  position: relative;
}
div.abs-box > :not(.base) {
  position: absolute;
  top: 0;
  left: 0;
}
/* div.abs-box > .previous:not(.keep) { */
/*   opacity: 0; */
/* } */

/* .impress-not-supported */ .hide-on-notsupported {
  visibility: hidden !important;
}

.impress-not-supported .hint {
  display: none;
}

.slide {
  display: block;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  color: rgb(92,92,92);
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.5px;
}


rect:hover {stroke:#fff;}

@media print {
  body { text-shadow: none }
  body pre code { color: #000; border: #000 dotted 1px; }
  body pre code b { color: #000; }
  .wrap { height: auto; }
  div.step.break { page-break-before: always; }
  div.step.nobreak { page-break-before: avoid !important; }
  li {margin:0}
  ol { list-style-position: inside; }
  h1 { font-size: 1.75em; margin-top: 0}
  h2 { font-size: 1.5em; margin-top: 0}
  h3 { font-size: 1.25em; margin-bottom: 0}
  .step div.counter {
  position: absolute;
  float:right;
  top: -2em;
  right: 0;
  font-size: 16px;
  opacity: 0.5;
}
	#refs { font-size: 1em }
	a { color: rgb(0, 67, 148) }
	#refs a:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}
}

/*.wrap { 
 padding-top:10px;	
 background-image: url("logo-info-en.gif");
 background-repeat: no-repeat;
} */

/**************** For the edit button ***********************/
#btnAloha{
	opacity : 0.5;
	width:50px;
	height:20px;
	background:grey;
	left:0px;
	bottom:0px;
	position:fixed;
	/* W3C */
	transition-property:width,height;
	transition-duration:2s;

	/* Firefox 4 */
	-moz-transition-property:width,height;
	-moz-transition-duration:2s;

	/* Safari and Chrome */
	-webkit-transition-property:width,height;
	-webkit-transition-duration:2s;

	/* Opera */
	-o-transition-property:width,height;
	-o-transition-duration:2s;
}

/*
#btnAloha:hover {
	display:center; 
	opacity : 1.0;
	width:100px;
	height:100px;
	background:red;
	left:0px;
	bottom:0px;
	position:fixed;
	z-index:1;
}
*/

#prevBtnEditMode {
	width:50px;
	height:20px;
	background:grey;
	left:0px;
	bottom:40px;
	position:fixed;
}

#nextBtnEditMode {
	width:50px;
	height:20px;
	background:grey;
	right:0px;
	bottom:40px;
	position:fixed;
}

/**************** For the slideshow button ***********************/
#btnShow{
  opacity : 0.5;
  width:50px;
  height:20px;
  background:grey;
  left:50px;
  bottom:0px;
  position:fixed;
  /* W3C */
  transition-property:width,height;
  transition-duration:2s;

  /* Firefox 4 */
  -moz-transition-property:width,height;
  -moz-transition-duration:2s;

  /* Safari and Chrome */
  -webkit-transition-property:width,height;
  -webkit-transition-duration:2s;

  /* Opera */
  -o-transition-property:width,height;
  -o-transition-duration:2s;
}

#btnPause{
  display: none;
  opacity : 0.5;
  width:50px;
  height:20px;
  background:grey;
  left:50px;
  bottom:0px;
  position:fixed;
  /* W3C */
  transition-property:width,height;
  transition-duration:2s;

  /* Firefox 4 */
  -moz-transition-property:width,height;
  -moz-transition-duration:2s;

  /* Safari and Chrome */
  -webkit-transition-property:width,height;
  -webkit-transition-duration:2s;

  /* Opera */
  -o-transition-property:width,height;
  -o-transition-duration:2s;
}
