
.step.flash.future {opacity:0}
.step.flash.past {opacity:0}

.active .builder-controls{
	display: inline-block;
	margin:5px;
}
.builder-controls{
	top:0;
	left:0;
	position:relative;
	margin-bottom: 10px;
	display:none;
}
.text{
	display: inline;
    position: absolute;
    top: 150px;
    width: 120px;
}
.trans{
	width:100px;
	color: white;
}

textarea{
	left: 130px;
    position: absolute;
    top: 27px;
}

