
.step.flash.future {opacity:0}
.step.flash.past {opacity:0}

.active .builder-controls{
	display: inline-block;
	margin:5px;
}
.builder-controls{
	position:absolute;
	margin-bottom: 10px;
	display:none;
}
.builder-controls label{
	font-size:10px
}
.move{
	top:-45px;
	left:44%;
}
.scale{
	top:45%;
	left: -65px;
}
.rotate{
	top:10%;
	right:-65px;
}
.rotatex{
	top:2%;
	left:2%;
}
.delete{
	top:-7%;
	left:-6%;
}
.bt-delete{
	font-size:25;
	content:none !important; 
	cursor:pointer !important;
}
.text{
	display: inline;
    position: absolute;
    top: 120px;
    width: 120px;
}
.trans{
	width:100px;
	color: white;
}
#nSlide{
	width: 40px;
height: 40px;
text-align: center;
color: white;
font-size: 35px;
}

textarea{
	left: 130px;
    position: absolute;
    top: 27px;
}
#color{
	width: 100px;
	color: white;
}

