/*********************************************************************************/
/************************************* LAYOUT ************************************/
/*********************************************************************************/

div.menuBarBorderLayout
{
	border-style:groove;
	border-color:#98bf21;
	height:3%;
}	 